.bundle/*
.git*
.vagrant/*
bin/docker/*
cache/*
config/docker/*
coverage/*
db/*.sqlite3*
db/structure.sql
docs/*
log/*
tmp/*
CONTRIBUTING.md
COPYRIGHT.txt
discourse.sublime-project
docker-compose.yml
LICENSE.txt
README.md
Vagrantfile
**/*sample*
